.fullScreenImagesView{
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
    background: transparent !important;

    .fullscreen-image {
        max-width: 100%;
        max-height: 100%;
        bottom: 0;
        left: 0;
        margin: auto;
        overflow: auto;
        position: fixed;
        right: 0;
        top: 0;
    }

    .slider {
        width: 100%;
        height: 100%;
    }

    .ionic-scroll .scroll{
        height: 100%;
    }
}