<ion-view class="homeView" view-title="<i class='icon ion-chatbubble user-messages-top-icon'></i><div class='msg-header-username'>{{toUser.username}}</div>">
	<div class="loader-center" ng-if="!doneLoading">
		<div class="loader">
			<i class="icon ion-load-c"></i>
		</div>
	</div>
	<ion-content overflow-scroll="false" has-bouncing="true" class="has-header has-footer" delegate-handle="userMessageScroll"
		on-scroll="checkScroll()">

		<div ng-repeat="message in messages" class="message-wrapper" ng-init="$last && refreshScroll(user._id === message.userId)"
			on-hold="onMessageHold($event, $index, message)">

			<div ng-if="user._id !== message.userId">

				<img ng-click="viewProfile(message)" class="profile-pic left" ng-src="{{toUser.pic}}" onerror="onProfilePicError(this)" />

				<div class="chat-bubble left">
					<img ng-click="photoBrowser(message)" ng-if="message.photo" ng-src="{{message.photo}}" ng-success="refreshScroll(scrollDown)"
					/>
					<div ng-if="!message.photo" class="message" ng-bind-html="message.text | nl2br" autolinker>
					</div>

					<div class="message-detail">
						<span ng-click="viewProfile(message)" class="bold">{{toUser.username}}</span>,
						<span am-time-ago="message.date"></span>
					</div>

				</div>
			</div>

			<div ng-if="user._id === message.userId">

				<img ng-click="viewProfile(message)" class="profile-pic right" ng-src="{{user.pic}}" onerror="onProfilePicError(this)" />

				<div class="chat-bubble right">

					<img ng-click="photoBrowser(message)" ng-if="message.photo" ng-src="{{message.photo}}" ng-success="refreshScroll($last)"
					/>

					<div ng-if="!message.photo" class="message" ng-bind-html="message.text | nl2br" autolinker>
					</div>

					<div class="message-detail">
						<span ng-click="viewProfile(message)" class="bold">{{user.username}}</span>,
						<span am-time-ago="message.date"></span>
					</div>

				</div>

			</div>

			<div class="cf"></div>

		</div>
	</ion-content>

	<form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
		<ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
			<label class="item-input-wrapper">
                      <textarea ng-model="input.message" value="" placeholder="Send a message..." required minlength="1" maxlength="1500" msd-elastic></textarea>
                  </label>
			<div class="footer-btn-wrap">
				<button class="button button-icon icon ion-images button-dark button-clear photo" type="button" ng-if="!input.message || input.message === ''"
					on-tap="sendPhoto()">
                </button>
				<button class="button button-icon icon ion-android-send footer-btn" type="submit" ng-disabled="!input.message || input.message === ''">
                    </button>
				<a ng-click="refreshScroll(true, 50)" ng-show="!scrollDown" class="scrollDownBtn button button-icon icon ion-android-arrow-dropdown-circle"></a>
			</div>
		</ion-footer-bar>
	</form>
</ion-view>